{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <main>
      <section class="pt-5 pb-5">
        <div class="container">
        <!-- User info -->
        <div class="row align-items-center mb-2">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Bg -->
            <div class="rounded-top"
              style="background: url({% static 'assets/images/background/profile-bg.jpg' %}) no-repeat; background-size: cover; height: 100px">
            </div>
            <div class="card px-4 pt-2 pb-4 shadow-sm rounded-top-0 rounded-bottom-0 rounded-bottom-md-2">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                    <img src="{{ request.user.picture }}"
                      class="avatar-xl rounded-circle border border-4 border-white" alt="avatar" />
                  </div>
                  <div class="lh-1">
                    <h2 class="mb-0">
                      {{ request.user.full_name }}
                    </h2>
                    <p class="mb-0 d-block">{{ request.user.hemis_id }}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

          <!-- Content -->

          <div class="row mt-0 mt-md-4">
            <div class="col-12">
              <!-- Card -->
              <div class="card border-0">
                <!-- Card body -->
                <div class="card-body p-10">
                  <div class="text-center">
                    <!-- text -->
                    <div class="px-lg-8">
                      <h1>Ovoz berishga xush kelibsiz</h1>
                      <a href="{% url 'teachers:start_quiz' %}" class="btn btn-primary mt-4">Ovoz berishni boshlash</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer -->

    <!-- Scroll top -->
    <div class="btn-scroll-top">
    <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
        <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
    </svg>
</div>

    <!-- Scroll top -->
    <div class="btn-scroll-top">
    <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
        <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
    </svg>
</div>

{% endblock %}