{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container d-flex align-items-center" style="height: 100vh;">
        <div class="col-12">
            <div class="border-dashed py-6 text-center rounded-3 px-4 px-md-7 px-lg-0">
                <div class="bg-gray-300 rounded-circle icon-shape icon-xl mb-4">
                    <img style="width: 100px" src="{% static 'assets/images/logo.png' %}" alt="">
                </div>
                <div class="d-flex flex-column gap-2 mb-4">
                    <h3 class="mb-0 h2">Termiz Davlat Universiteti</h3>
                    <p class="mb-0">Assalom elykum. Elektron ovoz berish tizimmiga xush kelibszi!</p>
                </div>
                <div>
                    <a href="{% url 'teachers:start_vote' %}" class="btn btn-success">Ovoz berishni boshlash</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}